/* Query for #lezioni */

@media screen and (max-width: 419px) {
    #lezioni .row{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        background-color: #F2F2CD;
    }

    #lezioni img {
        align-items: center;
        justify-content: center;
    }

    .row .left {
        align-self: center;
    }

    .row .right {
        align-self: center;
    }

    .row h3 {
        margin-bottom: 2px;
        display: block;
    }
    /* #lezioni .row>.left,
    #lezioni .row>.right {
        display: flex;
        flex-direction: column;
        align-self: center;
    } */
}


/* Query for #steps */

@media screen and (max-width: 419px) {
    .container.grey {
        background-color: #fff;
    }

    #steps .row {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #steps .row>.left,
#steps .row>.central,
#steps .row>.right {
    margin-top: 10px;
}
}

