/* Query for #lezioni */

@media screen and (max-width: 419px) {
    #lezioni>.row{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        background-color: #F2F2CD;
        align-items: center;
        width: 100%;
    }

    #lezioni img {
        height: 6rem;
        align-items: center;
        justify-content: center;
    }

    /* #lezioni>.row .left {
        align-self: center;
    }

    #lezioni>.row .right {
        align-self: center;
    } */
}


/* Query for #steps */

@media screen and (max-width: 419px) {
    .container.grey {
        background-color: #fff;
    }

    #steps img {
        height: 6rem;
    }

    #steps .row {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
    margin-top: 10px;
}
}


/* Query for #why */

@media screen and (max-width: 419px) {
    
    #why>.row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third,
    #why .row>h1  {
        margin-top: 0px;
        background-color: #F2F2CD;
        width: 419px;

        align-self: center;
    }

    #why img {
        height: 6rem;
    }

    #why .row>h1 {
        background-color: #F2F2CD;
        margin-bottom: 0px;
    }

    #why h3 {
        text-align: center;
    }
}

